.profileDropdown {
	display: none;
	position: absolute;
	background-color: #212121cc;
	min-width: 200px;
	padding: 12px 16px;
	z-index: 10;
	margin-top: 5px;
}

.profileWrapper:hover .profileDropdown {
	display: block;
}

.profileDropdown span {
	display: inline-block;
	cursor: pointer;
	padding: 10px;
	color: white;
}
